<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Florian Weber | {{ app.request.host }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- OGP -->
    <meta property="og:url" content="{{ app.request.getUri() }}"/>
    <meta property="og:title" content="{% block ogpTitle %}Florian Weber | {{ app.request.host }}{% endblock %}"/>
    <meta property="og:image"
          content="{% block ogpImage %}{{ asset('assets/img/pi-1.jpg', absolute=true) }}{% endblock %}"/>
    <meta property="og:image:type" content="image/jpeg"/>
    <meta property="og:image:width" content="440"/>
    <meta property="og:image:height" content="440"/>
    <meta property="og:description" content="Tech-Enthusiast, Programmer, Web-Developer, Musician and Hobby-Chef"/>
    <!--------->

    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="{{ asset('assets/js/app.js') }}"></script>

    <!-- BOWER -->
    {% javascripts
    '@fweberAssetsBundle/Resources/public/vendor/sweetalert/lib/sweet-alert.min.js'
    '@fweberAssetsBundle/Resources/public/vendor/anchorify/dist/anchorify.min.js'
    '@fweberAssetsBundle/Resources/public/vendor/jQCloud/jqcloud/jqcloud-1.0.3.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <!-- CSS -->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/docs.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/app.css') }}"/>

    <!-- BOWER -->
    {% stylesheets
    '@fweberAssetsBundle/Resources/public/vendor/sweetalert/lib/sweet-alert.css'
    '@fweberAssetsBundle/Resources/public/vendor/jQCloud/jqcloud/jqcloud.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <!-- FONTS -->
    <script src="//use.edgefonts.net/abel:n4:all.js"></script>
    <script src="//use.edgefonts.net/poiret-one:n4:all.js"></script>
    <script src="//use.edgefonts.net/source-sans-pro.js"></script>
    <script src="//use.edgefonts.net/pt-sans-narrow:n4,n7:all.js"></script>
</head>
<body>

<!-- FB SDK -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=1651031938459416";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="wrap">
    {% block body %}
    {% endblock %}
</div>

<div id="footer">
    <div class="container">
        <div class="centered copyright">
            <p class="text-muted credit">
                &copy;
                {{ "now"|date('Y') }},
                Florian Weber
                |
                <a href="{{ path('index') }}">Home</a>
                |
                <a href="{{ path('backend_index') }}">Backend</a>
            </p>
        </div>
    </div>
</div>

</body>
</html>
