<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Florian Weber | fweber.info{% endblock %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/fweberassets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/fweberassets/vendor/font-awesome/css/font-awesome.min.css') }}">
    {% stylesheets
    '@fweberAssetsBundle/Resources/public/vendor/sweetalert/lib/sweet-alert.css'
    '@fweberAssetsBundle/Resources/public/vendor/jQCloud/jqcloud/jqcloud.css'
    '@fweberAssetsBundle/Resources/public/css/main.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <!-- JS -->
    {% javascripts
    '@fweberAssetsBundle/Resources/public/vendor/jquery/dist/jquery.min.js'
    '@fweberAssetsBundle/Resources/public/vendor/bootstrap/dist/js/bootstrap.min.js'
    '@fweberAssetsBundle/Resources/public/vendor/sweetalert/lib/sweet-alert.min.js'
    '@fweberAssetsBundle/Resources/public/vendor/anchorify/dist/anchorify.min.js'
    '@fweberAssetsBundle/Resources/public/vendor/jQCloud/jqcloud/jqcloud-1.0.3.min.js'
    '@fweberAssetsBundle/Resources/public/js/app.js'
    '@fweberAssetsBundle/Resources/public/js/post.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <!-- FONTS -->
    <script src="https://use.edgefonts.net/droid-sans.js"></script>
    <script src="https://use.edgefonts.net/pt-sans-narrow.js"></script>

    <!-- OGP -->
    <meta property="og:url" content="{{ app.request.getUri() }}">
    <meta property="og:title" content="{% block ogpTitle %}Florian Weber | {{ app.request.host }}{% endblock %}">
    <meta property="og:image"
          content="{% block ogpImage %}{{ asset('assets/img/pi-1.jpg', absolute=true) }}{% endblock %}">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="440">
    <meta property="og:image:height" content="440">
    <meta property="og:description" content="Tech-Enthusiast, Programmer, Web-Developer, Musician and Hobby-Chef">

</head>

<body>

<!-- Facebook SDK -->
<div id="fb-root"></div>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=1651031938459416";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

{% if app.environment == 'prod' and preview is not defined %}
    <!-- GOOGLE-ANALYTICS -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-51394887-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!---->
{% endif %}

<!-- WRAPPER -->
<div class="fw-site-wrapper">

    {% block body %}
    {% endblock %}

</div>

<!-- FOOTER -->
<div class="fw-site-footer">
    <div class="container">

        <div class="pull-left">
            &copy; 2015, Florian Weber
        </div>

        <div class="pull-right">
            <a href="{{ path('index') }}">Home</a>
            <a href="{{ path('blog_posts') }}">Blog</a>
            <a href="{{ path('portfolio') }}">Portfolio</a>
            <a href="{{ path('imprint') }}">Imprint</a>
        </div>

    </div>
</div>

</body>

</html>
