<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Backend{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/fweberassets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/fweberassets/vendor/font-awesome/css/font-awesome.min.css') }}">
    {% stylesheets
    '@fweberAssetsBundle/Resources/public/vendor/sweetalert/lib/sweet-alert.css'
    '@fweberAssetsBundle/Resources/public/vendor/selectize/dist/css/selectize.css'
    '@fweberAssetsBundle/Resources/public/vendor/selectize/dist/css/selectize.default.css'
    '@fweberAssetsBundle/Resources/public/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css'
    '@fweberAssetsBundle/Resources/public/css/docs.min.css'
    '@fweberAssetsBundle/Resources/public/css/backend.css'
    '@fweberAssetsBundle/Resources/public/css/editor.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <!-- JS -->
    {% javascripts
    '@fweberAssetsBundle/Resources/public/vendor/jquery/dist/jquery.min.js'
    '@fweberAssetsBundle/Resources/public/vendor/bootstrap/dist/js/bootstrap.min.js'
    '@fweberAssetsBundle/Resources/public/vendor/sweetalert/lib/sweet-alert.min.js'
    '@fweberAssetsBundle/Resources/public/ace/src/ace.js'
    '@fweberAssetsBundle/Resources/public/ace/src/mode-markdown.js'
    '@fweberAssetsBundle/Resources/public/ace/src/theme-github.js'
    '@fweberAssetsBundle/Resources/public/vendor/remarkable/dist/remarkable.min.js'
    '@fweberAssetsBundle/Resources/public/vendor/microplugin/src/microplugin.js'
    '@fweberAssetsBundle/Resources/public/vendor/sifter/sifter.min.js'
    '@fweberAssetsBundle/Resources/public/vendor/selectize/dist/js/selectize.min.js'
    '@fweberAssetsBundle/Resources/public/vendor/moment/min/moment.min.js'
    '@fweberAssetsBundle/Resources/public/vendor/moment/locale/de.js'
    '@fweberAssetsBundle/Resources/public/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js'
    '@fweberAssetsBundle/Resources/public/js/editor.js'
    '@fweberAssetsBundle/Resources/public/js/user.js'
    '@fweberAssetsBundle/Resources/public/js/backend.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</head>
<body>

<!-- FB SDK -->
<div id="fb-root"></div>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=1651031938459416";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<span class="hidden" id="current-page">{% block currentPage %}{% endblock %}</span>

{% block body %}
{% endblock %}

</body>
</html>
