{% extends 'fweberBackendBundle::layout.html.twig' %}

{% block currentPage %}posts{% endblock %}

{% block content %}

    <h2>
        <span class="glyphicon glyphicon-th-list"></span>
        Posts
    </h2>

    <div class="well well-sm">
        <a class="btn btn-sm btn-success" href="{{ path('backend_posts_create') }}">
            <span class="glyphicon glyphicon-plus"></span>
            Add Post
        </a>
    </div>

    {% if posts|length() > 0 %}
        <table class="table table-striped table-bordered">
            {% for post in posts %}
                <th>
                    <td>
                        <h5>{{ post.title }}</h5>
                        <div class="post-text-snippet">
                            {{ post.text }}
                        </div>
                    </td>
                    <td>
                        {{ post.publishDate|date('d.m.Y H:i:s') }}
                    </td>
                    <td>
                        {{ post.openDate|date('d.m.Y H:i:s') }}
                    </td>
                </th>
            {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-warning">
            No Posts yet!
        </div>
    {% endif %}

{% endblock %}
