{% extends 'fweberBackendBundle::layout.html.twig' %}

{% block currentPage %}posts{% endblock %}

{% block content %}

    <h2>
        <span class="glyphicon glyphicon-th-list"></span>
        Posts
    </h2>

    <div class="well well-sm">
        <a class="btn btn-sm btn-success" href="{{ path('backend_posts_create') }}">
            <span class="glyphicon glyphicon-plus"></span>
            Add Post
        </a>
    </div>

    {% if posts|length() > 0 %}
        <table class="table table-bordered">
            {% for post in posts %}
                <tr class="{% if post.isDraft %}warning{% endif %}">

                    <td>
                        <h4>
                            <a href="#">
                                {{ post.title }}
                            </a>
                        </h4>

                        {% if post.isDraft %}
                            <span class="label label-waring">
                                <i class="fa fa-edit"></i>
                                Draft
                            </span>
                        {% endif %}

                        {% for tag in post.categories %}
                            #{{ tag.title }}
                        {% else %}
                            No Tags
                        {% endfor %}
                    </td>

                    <td style="font-size: 16px;">
                        <span class="label label-success">
                            <i class="fa fa-plus"></i>
                            {{ post.openDate|date('d.m.Y H:i:s') }}
                        </span>
                        <br>
                        <span class="label label-danger">
                            <i class="fa fa-clock-o"></i>
                            {{ post.publishDate|date('d.m.Y H:i:s') }}
                        </span>
                    </td>

                    <td>
                        <!-- FB SHARE -->
                        <div class="fb-share-button" data-href="{{ url('blog_post', {slug: post.slug, utm_source: 'facebook', utm_medium: 'be_share', utm_campaign: 'fb_post'}) }}" data-layout="button"></div>

                        <br>

                        <!-- TWITTER SHARE -->
                        <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-text="{{ post.title }} | {{ post.categories|join(' ') }} | Flos Blog" data-url="{{ url('blog_post', {slug: post.slug, utm_source: 'twitter', utm_medium: 'be_share', utm_campaign: 'tw_post'}) }}" data-dnt="true">Tweet</a>
                        <script>
                            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
                        </script>
                    </td>

                    <td>
                        <div class="pull-right">
                            <a class="btn btn-warning" href="{{ path('backend_posts_update', {postId: post.id}) }}">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a class="btn btn-danger" href="{{ path('backend_posts_delete', {postId: post.id}) }}">
                                <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-warning">
            No Posts yet!
        </div>
    {% endif %}

{% endblock %}
