{% for post in posts %}

    {% if post.isDraft == false %}

        <div class="post-entry">

            <div class="post-entry-header{% if post.mainImageUrl|length > 0 %} post-has-image{% endif %}"
                 {% if post.mainImageUrl|length > 0 %}style="background-image: url('{{ post.mainImageUrl }}'); background-position: center;"{% endif %}>
                <i class="fa fa-file-text-o"></i>
                <a href="{{ path('blog_post', {slug: post.slug}) }}">{{ post.title }}</a>
            </div>

            {% if post.categories|length() > 0 %}
                <div class="posts-tags">
                    {% for tag in post.categories %}
                        <a href="{{ path('blog_tag', {slug: tag.slug}) }}">#{{ tag.title }}</a>
                    {% endfor %}
                </div>
            {% endif %}

            <h4>
                Posted on
                <span style="font-style: oblique;">{{ post.publishDate|date('d.m.Y') }}</span>
                at
                <span style="font-style: oblique;">{{ post.publishDate|date('H:i') }}</span>
            </h4>
        </div>

    {% endif %}

{% else %}
    <div class="alert alert-warning">
        No Posts yet!
    </div>
{% endfor %}