{% extends 'layout.html.twig' %}

{% block currentPage %}blog{% endblock %}

{% block title %}
    {{ post.title }}
    |
    {% for tag in post.categories %}
        #{{ tag.title }}
    {% endfor %}
    |
    Flos Blog
{% endblock %}

{% block ogpTitle %}
    {{ post.title }}
    |
    {% for tag in post.categories %}
        #{{ tag.title }}
    {% endfor %}
    |
    Flos Blog
{% endblock %}

{% block ogpImage %}
    {% if post.mainImageUrl|length > 0 %}
        {{ post.mainImageUrl }}
    {% else %}
        {{ asset('assets/img/pi-1.jpg', absolute=true) }}
    {% endif %}
{% endblock %}

{% block app %}

    <link rel="stylesheet" href="{{ asset('assets/css/post.css') }}">
    <script src="{{ asset('assets/js/post.js') }}"></script>

    {% if preview is defined %}
        <div class="row">
            <div class="col-lg-12">
                <div class="heads-up heads-up-danger">
                    <h2>Preview</h2>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-lg-8 col-md-8">
            <div class="post">
                <h1>{{ post.title }}</h1>

                <div class="post-text">{{ post.text|markdown|raw }}</div>

                <hr>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">

            <div class="heads-up-reverse heads-up-warning" style="font-size: 26px; text-align: right;">
                <a href="{{ path('blog_posts') }}">
                    <i class="fa fa-chevron-left"></i>
                    Alle Posts
                </a>

                <div>
                    {{ post.publishDate|date('d.m.Y H:i') }}
                </div>

                <div style="font-size: 16px">
                    <a href="{{ path('backend_posts_update', {postId: post.id}) }}">
                        <i class="fa fa-wrench"></i> Bearbeiten
                    </a>
                </div>

                {% if post.categories|length() > 0 %}
                    <br>
                    <div class="post-tags">
                        {% for tag in post.categories %}
                            <a href="{{ path('blog_tag', {slug: tag.slug}) }}">#{{ tag.title }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="heads-up-reverse heads-up-success" style="text-align: right;">
                <h3>About the Author</h3>

                <img class="img-circle"
                     src="{{ 'https://www.gravatar.com/avatar/' ~ post.user.email|gravatarHash }}"
                     alt="...">

                <h4>{{ post.user.firstName }} {{ post.user.lastName }}</h4>
                {{ post.user.about|markdown|raw }}

            </div>
        </div>
    </div>

    {% if app.environment == 'prod' and preview is not defined %}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'fweber';
            var disqus_identifier = '{{ post.slug }}';
            var disqus_title = '{{ post.title }}';
            var disqus_url = '{{ url('blog_post', {slug: post.slug}) }}';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>
            Please enable JavaScript to view the
            <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
        </noscript>
    {% else %}
        [DISQUS]
    {% endif %}

{% endblock %}
