{% set method = 'add' %}
{% if editorMethod == 'edit' %}
    {% set method = 'edit' %}
{% endif %}

<div class="editor-container">
    <div class="editor-top-bar">
        <div class="editor-top-back editor-left" data-url="{{ backUrl }}">
            <i class="fa fa-chevron-left"></i>
        </div>
        <div class="editor-top-head editor-left{% if method == 'add' %} editor-font-color-add{% else %} editor-font-color-edit{% endif %}">
            {{ editorHead }}
        </div>

        <div class="editor-top-button editor-top-text editor-right">
            {{ app.user.username }}
        </div>
        <div class="editor-top-button editor-right" id="btn-save">
            <i class="fa fa-save"></i>
        </div>

        <div class="editor-clear"></div>
    </div>

    <div class="editor-body">
        <div class="editor-form editor-left">
            <div class="editor-title">
                <input type="text" placeholder="Title" id="input-title">
            </div>
            <div>
                <textarea id="input-text"></textarea>
            </div>
        </div>
        <div class="editor-preview"></div>
        <div class="editor-clear"></div>
    </div>
</div>

<link rel="stylesheet" href="{{ asset('assets/css/editor.css') }}">
<script src="{{ asset('assets/js/editor.js') }}"></script>
