{% extends 'layout.html.twig' %}

{% block currentPage %}index{% endblock %}

{% block app %}

    <div class="row" id="index-content">

        <div class="col-lg-4 col-md-4 profile-img">
            <img class="img-circle face-img visible-xs img-profile" src="{{ asset('assets/img/pi-1.jpg') }}">
            <img class="img-circle hidden-xs img-profile" src="{{ asset('assets/img/pi-1.jpg') }}">
        </div>

        <div class="col-lg-1 col-md-2 hidden-sm hidden-xs"></div>

        <div class="col-lg-7 col-md-6">

            <div class="intro">

                <p>
                    Hello, this is Florian,<br>
                    a Dresden based Tech-Enthusiast, <a href="https://github.com/fweber-de" target="_blank">Programmer</a>,
                    <a href="http://weber-elektronik.de" target="_blank">Web-Developer</a>,<br>
                    Musician and Hobby-Chef.<br>
                    Currently, I am working as an Software Engineer for <a href="http://ligneus.de" target="_blank">Ligneus
                        GmbH</a> in Ottendorf-Okrilla, near Dresden.
                </p>

                <p>
                    If you are interested in my work, you can have a look at my <a href="{{ path('portfolio') }}">Portfolio</a>.
                </p>

                <p>
                    If you have any serious business inquiries, please feel free to contact me at<br>
                    <a href="mailto:florian.weber@fweber.info">florian.weber@fweber.info</a>.
                </p>

            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-lg-12">

            <div id="social-networks">

                <h2>Social Networks</h2>

                <a href="https://github.com/fweber-de" id="link-github" target="_blank">
                    <img class="social-img" src="{{ asset('assets/img/github-logo.png') }}">
                </a>
                <a href="https://www.facebook.com/flo.weber2" id="link-facebook" target="_blank">
                    <img class="social-img" src="{{ asset('assets/img/fb-logo.png') }}">
                </a>
                <a href="https://twitter.com/korny92" id="link-twitter" target="_blank">
                    <img class="social-img" src="{{ asset('assets/img/twitter-logo.png') }}">
                </a>

            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-lg-12">

            <div id="communication">

                <h2>My Public Key</h2>

                <button class="btn btn-success" data-toggle="modal" data-target="#key-modal">
                    Show
                </button>

            </div>

        </div>

    </div>

    <div class="hidden" id="profile-img-src-box">
        <span id="src-pi-1">{{ asset('assets/img/pi-1.jpg') }}</span>
        <span id="src-pi-2">{{ asset('assets/img/pi-2.jpg') }}</span>
        <span id="src-pi-3">{{ asset('assets/img/pi-3.jpg') }}</span>
    </div>

    <!-- Key Modal -->
    <div class="modal fade" id="key-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Public Key</h4>
                </div>
                <div class="modal-body">
                    <textarea class="form-control" rows="10" id="key-area"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
